* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #d3d2d2;
    text-align: center;
}

/*======== Section Header ========*/
header {
    width: 100%;
}

/*=====Section bouton ===========*/
button {
    width: 100px;
    height: 50px;
    background-color: #fff;
    border: 1px solid red;
    border-radius: 6px;
    border-radius: 3px;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s; 
}

button:hover {
    background-color: red;
    color: white;
    width: 110px;
    height: 55px;
}

#recommencer {
    display: none;
}

.formulaire {
    width: 250px;
    height: 350px;
    margin-right: auto;
    margin-left: auto;
}



/*création du grid*/
/*.container {
    display: grid;
    grid-template-columns: repeat(8, 200px);
    grid-template-rows: auto;
    grid-gap: 5px;
    grid-auto-flow: row;
    text-align: center;
    align-content: center;
    justify-content: space-around;
    margin:25px;
}*/
.contenu {
    margin: 50px;
}

.container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(8, minmax(100px, 1fr));
    grid-auto-flow: dense;
    width: 100%;
    text-align: center;
    align-content: center;
    justify-content: space-around;
    margin: 15px;
}


.col-2 {
    grid-column-end: span 2;
}


.col-4 {
    grid-column-end: span 4;
}


.col-8 {
    grid-column-end: span 8;
}


/* Css des cartes selon leurs état : caché, vu et validée*/
.vu {
    border: 1px solid black;
    border-radius: 3px;
    color: white;
}

.validee {
    opacity; 0.5;
    text-shadow: 2px 2px yellow;
    
}

.cartes {
    height: 250px;
    border: 6px solid aqua;
    border-radius: 6px;
    background-color: black;
    margin: 15px;
}

.carte1 {
    background-image: url('img/carte1.jpeg');
}

.carte2 {
    background-image: url('img/carte2.jpeg');
}

.carte3 {
    background-image: url('img/carte3.jpeg');
}



